:root {
    --color-eau: #4F36CF;
    --color-minerai: #cf5c36;
    --color-gaz: #efc88b;
    --color-petrole: #050517;
    --color-energie_fossile: #d3d5d7;
    --color-energie_renouvelable: #3e5622;
    --color-recyclage: #f4e3b2;
    --color-reemploi: #846c5b;
    --color-atmosphere: #846c5b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    height: 100vh;
}

header {
    height: 10vh;
    nav {
        position: absolute;
        top: 10px;
        left: 10px;
        #menu-toggle {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
        }
        #menu {
            list-style: none;
            padding: 0;
            display: none;
            background: white;
            border: 1px solid #ddd;
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 5;
        }
        #menu .menuItem {
            padding: 10px;
            cursor: pointer;
        }
        #menu .menuItem:hover {
            background: #ddd;
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    .productionChain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    height: 10vh;
}

.step {
    position: relative;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Flow bands styling */
.flow-band {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px;
    height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flow-band-eau {
    border-left: 5px solid var(--color-eau);
}

.flow-band-minerai {
    border-left: 5px solid var(--color-minerai);
}

.flow-band-gaz {
    border-left: 5px solid var(--color-gaz);
}
.flow-band-petrole {
    border-left: 5px solid var(--color-petrole);
}
.flow-band-energie_fossile {
    border-left: 5px solid var(--color-energie_fossile);
}
.flow-band-energie_renouvelable {
    border-left: 5px solid var(--color-energie_renouvelable);
}
.flow-band-recyclage {
    border-left: 5px solid var(--color-recyclage);
}
.flow-band-reemploi {
    border-left: 5px solid var(--color-reemploi);
}
.flow-band-atmosphere {
    border-left: 5px solid var(--color-atmosphere);
}
.band-label {
    font-weight: bold;
    font-size: 14px;
}

.band-content {
    display: flex;
    gap: 10px;
}



.arrow-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* S'assurer que les flèches sont sous les éléments interactifs */
    pointer-events: none; /* Empêche les flèches d’interférer avec les clics */
}

.arrow-svg line {
    stroke-linecap: round; /* Arrondit les extrémités des flèches */
    transition: stroke-width 0.3s ease-in-out; /* Animation fluide lors des changements d'épaisseur */
}
