body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    height: 100vh;
}

header {
    height: 10vh;
    nav {
        position: absolute;
        top: 10px;
        left: 10px;
        #menu-toggle {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
        }
        #menu {
            list-style: none;
            padding: 0;
            display: none;
            background: white;
            border: 1px solid #ddd;
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 5;
        }
        #menu .menuItem {
            padding: 10px;
            cursor: pointer;
        }
        #menu .menuItem:hover {
            background: #ddd;
        }
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    .productionChain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    height: 10vh;
}

.step {
    position: relative;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Flow bands styling */
.flow-band {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px;
    height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flow-band-eau {
    border-left: 5px solid #FF5733;
}

.flow-band-minerai {
    border-left: 5px solid #3399FF;
}

.flow-band-gaz {
    border-left: 5px solid #33CC33;
}
.flow-band-petrole {
    border-left: 5px solid #33CC33;
}
.flow-band-energie_fossile {
    border-left: 5px solid #33CC33;
}
.flow-band-energie_renouvelable {
    border-left: 5px solid #33CC33;
}
.flow-band-recyclage {
    border-left: 5px solid #33CC33;
}
.flow-band-reemploi {
    border-left: 5px solid #33CC33;
}
.flow-band-atmosphere {
    border-left: 5px solid #33CC33;
}
.band-label {
    font-weight: bold;
    font-size: 14px;
}

.band-content {
    display: flex;
    gap: 10px;
}
