:root {
    --color-eau: #4F36CF;
    --color-minerai: #cf5c36;
    --color-gaz: #efc88b;
    --color-petrole: #050517;
    --color-energie_fossile: #d3d5d7;
    --color-energie_renouvelable: #3e5622;
    --color-recyclage: #f4e3b2;
    --color-reemploi: #846c5b;
    --color-atmosphere: #846c5b;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    height: 100vh;
}

header {
    height: 10vh;
    background-color: white;
    border-bottom: solid 2px red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    nav {
        #menu-toggle {
            font-size: 24px;
            background: none;
            border: none;
            cursor: pointer;
            background-color: lightgrey;
            border-radius: 5px;
            padding: 5px;
            height: 50px;
            width: 50px;
        }
        #menu {
            list-style: none;
            padding: 0;
            display: none;
            background: white;
            border: 1px solid #ddd;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            padding-top: 30px;
            margin: 0;
        }
        #menu .menuItem {
            padding: 10px;
            cursor: pointer;
        }
        #menu .menuItem:hover {
            background: #ddd;
        }
        #close-menu {
          position: absolute;
          top: 5px;
          right: 5px;
          font-size: 16px;
          background: none;
          border: none;
          cursor: pointer;
          height: 25px;
          width: 25px;
          border-radius: 50%;
          background-color: lightgrey;
      }
      #close-menu:hover {
          background-color: #ddd;
      }
    }
}


main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    .productionChain {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    height: 10vh;
}

.step {
    position: relative;
    background: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Flow bands styling */
.flow-band {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 0 20px;
    height: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.flow-band-eau {
    border-left: 5px solid var(--color-eau);
}

.flow-band-minerai {
    border-left: 5px solid var(--color-minerai);
}

.flow-band-gaz {
    border-left: 5px solid var(--color-gaz);
}
.flow-band-petrole {
    border-left: 5px solid var(--color-petrole);
}
.flow-band-energie_fossile {
    border-left: 5px solid var(--color-energie_fossile);
}
.flow-band-energie_renouvelable {
    border-left: 5px solid var(--color-energie_renouvelable);
}
.flow-band-recyclage {
    border-left: 5px solid var(--color-recyclage);
}
.flow-band-reemploi {
    border-left: 5px solid var(--color-reemploi);
}
.flow-band-atmosphere {
    border-left: 5px solid var(--color-atmosphere);
}
.band-label {
    font-weight: bold;
    font-size: 14px;
    z-index: 1;
}

.band-content {
    display: flex;
    gap: 10px;
}



.arrow-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* S'assurer que les flèches sont sous les éléments interactifs */
    pointer-events: none; /* Empêche les flèches d’interférer avec les clics */
}

.arrow-svg line {
    stroke-linecap: round; /* Arrondit les extrémités des flèches */
    transition: stroke-width 0.3s ease-in-out; /* Animation fluide lors des changements d'épaisseur */
}


#timeline {
    position: relative;
    width: 80%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeline__bar {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #d3d3d3;
    border-radius: 3px;
}

#timeline__progress {
    position: absolute;
    height: 5px;
    background-color: #3498db;
    border-radius: 3px;
    width: 0%;
    transition: width 0.3s ease-in-out;
}

.year-point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid #3498db;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
}

.year-point:hover {
    transform: scale(1.3);
    background-color: #2980b9;
}

.year-point.active {
    background-color: #e74c3c;
    border-color: #c0392b;
}

.year-label {
    position: absolute;
    top: 50px;
    font-size: 14px;
    color: black;
    transform: translateX(-50%);
}


/* Animation pour le remplissage des bandes */
@keyframes fillBand {
    from {
      background-position: 100% 0;
    }
    to {
      background-position: 0 0;
    }
  }

  @keyframes emptyBand {
    from {
      background-position: -100% 0;
    }
    to {
      background-position: 0 0;
    }
  }
  
  /* Style de base pour les bandes activées */
  .flow-band.active {
    position: relative;
    overflow: hidden;
    .band-label {
        color: white;
    }
  }
  .flow-band.deactivated {
    position: relative;
    overflow: hidden;
  }
  
  .flow-band.deactivated::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: emptyBand 0.5s forwards ease-in-out;
    z-index: 0;
    border-radius: 5px;
    background-image: linear-gradient(to right, #f8f8f8 50%, transparent 50%);
}




  .flow-band.active::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 200% 100%;
    background-position: -100% 0;
    animation: fillBand 0.5s forwards ease-in-out;
    z-index: 0;
    border-radius: 5px;
}


  
  /* Couleurs spécifiques pour chaque type de bande */

 

  .flow-band-eau.active::before {
    background-image: linear-gradient(to right, var(--color-eau) 50%, transparent 50%);
  }
  .flow-band-minerai.active::before {
    background-image: linear-gradient(to right, var(--color-minerai) 50%, transparent 50%);
  }
  .flow-band-gaz.active::before {
    background-image: linear-gradient(to right, var(--color-gaz) 50%, transparent 50%);
  }
  .flow-band-petrole.active::before {
    background-image: linear-gradient(to right, var(--color-petrole) 50%, transparent 50%);
  }
  .flow-band-energie_fossile.active::before {
    background-image: linear-gradient(to right, var(--color-energie_fossile) 50%, transparent 50%);
  }
  .flow-band-energie_renouvelable.active::before {
    background-image: linear-gradient(to right, var(--color-energie_renouvelable) 50%, transparent 50%);
  }
  .flow-band-recyclage.active::before {
    background-image: linear-gradient(to right, var(--color-recyclage) 50%, transparent 50%);
  }
  .flow-band-reemploi.active::before {
    background-image: linear-gradient(to right, var(--color-reemploi) 50%, transparent 50%);
  }
  .flow-band-atmosphere.active::before {
    background-image: linear-gradient(to right, var(--color-atmosphere) 50%, transparent 50%);
  }


  .flow-band-eau.flow-band.deactivated::before {
    background-color: var(--color-eau);
  }
  .flow-band-minerai.flow-band.deactivated::before {
    background-color: var(--color-minerai);
  }
  .flow-band-gaz.flow-band.deactivated::before {
    background-color: var(--color-gaz);
  }
  .flow-band-petrole.flow-band.deactivated::before {
    background-color: var(--color-petrole);
  }
  .flow-band-energie_fossile.flow-band.deactivated::before {
    background-color: var(--color-energie_fossile);
  }
  .flow-band-energie_renouvelable.flow-band.deactivated::before {
    background-color: var(--color-energie_renouvelable);
  }
  .flow-band-recyclage.flow-band.deactivated::before {
    background-color: var(--color-recyclage);
  }
  .flow-band-reemploi.flow-band.deactivated::before {
    background-color: var(--color-reemploi);
  }
  .flow-band-atmosphere.flow-band.deactivated::before {
    background-color: var(--color-atmosphere);
  }

    /* Style pour l'état d'animation */
    .status {
    margin-top: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    }



    
.switchCont {
  --background: #000000;
	position: relative;
	border: 1px solid #222222;
	display: flex;
	align-items: center;
	width: 5rem;
	height: 3rem;
	box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.4);
	border-radius: 50px;
	background-color: var(--background);
	cursor: pointer;
	transition: all 0.2s;
}

.switchCont:hover {
	> .circle {
		transform: scale(1.05);
	}
	transition: all 0.2s;
}

.circle {
	position: absolute;
	background: radial-gradient(
		circle at top left,
		rgba(255, 255, 255, 1) 0%,
		rgba(166, 166, 166, 1) 100%
	);
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	left: 4px;
	box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.5);
	transition: all 0.2s ease-in-out;
}